

.header {

    display: flex;
    background-color:rgb(99, 88, 99);
    justify-content: space-between;
    padding: 0.5% 2%;

}

.logo_header img {

    max-width: 200px;
    font-size: 7px;
    display: flex;
}

.recherche {

    display: flex;
    width: 35%;
    border-style: solid;
    border-color: blueviolet;
    border-width: 1px;
    border-radius: 55px;
    height:60px;
    padding-left: 2%;

}

.recherche h3 {
    font-size: 25px;
    align-self: center;
}

.recherche img {
    align-self: center;
    max-width: 50px;
    max-height: 50px;
}

.connexion_header {
    display: flex;
    align-items: center;

}

.connexion_header div {
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
}

.connexion_header :first-child {
    background-color: beige;
}

.connexion_header :nth-child(2) {
    background-color: rgb(63, 63, 155);
}

.gauche {
    background-color: rgb(72, 58, 78);
    color: rgb(202, 201, 199);
    left: 0;
    width: 17%;
    margin-top: 0px;
    padding: 20px;
    height: 80vh;


}

a {
    text-decoration: none;
}



.liens_gauche {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.liens_gauche img {
    width: 30px;
    padding: 20px;
}

a:visited {
    color: rgb(202, 201, 199);
  }

.gauche h2:hover {
    background-color: rgb(134, 59, 163);
    cursor: pointer;
}

/* partie 2 de Gauche : Ma liste */

.liste_gauche {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: brown;
    border-radius: 25px;
    margin-top: 30vh;
    height: 10vh;
    justify-content: space-around;
    padding: 0px 8px;
}
.liste_gauche img {
    width: 50px;

}