

body, .titre_card h3, .categorie_card_details h4, a, .gauche  {
    background-color: rgb(56, 50, 50);
    color: rgb(177, 184, 184);
}

.header {

    display: flex;
    background-color: rgb(80, 78, 78);
    justify-content: space-between;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 9;

}

.logo_header img {

    max-width: 200px;
    font-size: 7px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

.recherche {

    display: flex;
    width: 35%;
    border-style: solid;
    border-color: blueviolet;
    border-width: 1px;
    border-radius: 55px;
    height:50px;
    padding-left: 2%;
    margin-top: 10px;

}

.recherche h3 {
    font-size: 25px;
    align-self: center;
}

.recherche img {
    align-self: center;
    max-width: 50px;
    max-height: 50px;
}

.connexion_header {
    display: flex;
    align-items: center;
    padding-right: 2%;
}
.connexion_header button {
    background-color: #8615c7;
    border-style: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 1.1em;
}



/* PARTIE INSCRIPTION CONNEXION  */

.login_popup, .mdp_oublie, .inscription  {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    justify-content: center;
    align-items: center;
    top: 0;
    backdrop-filter: blur(10px);
}

.mdp_oublie {
    z-index: 10;
}

.inscription {
    z-index: 10;
}



.login_info {
    position: relative;
    background-image: url(/View/pics/login_background.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    padding:  3px;
    display: grid;
    width: 900px;
    height: 600px;
    grid-template-rows: 50px auto;
    
}

.close_button {
    padding: 3px;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    justify-self: flex-end;
    font-size: xx-large;
    border-style: none;
}


.login_form {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.login_form label, .login_form input  {
    padding: 10px;
    width: 200px;
}



.login_form button {
    width: 150px;
    height:50px ;
    margin-top: 40px;
    background-color: #8615c7;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    color: aliceblue;


}



.login_info2 {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    width: 40%;
    margin-bottom: 50px;
    padding-left: 30px;
    font-size: large;
}

.form-group {
    display: block;
}





/* PARTIE BODY */
.main_body {
    display: flex;
}
.gauche {
    color: rgb(202, 201, 199);
    left: 0;
    width: 15%;
    margin-top: 0px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 70px;
    border-right: solid 2px white;


}

a {
    text-decoration: none;
}



.liens_gauche {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.liens_gauche img {
    width: 30px;
    padding: 20px;
}

.gauche a:visited, .card_part a:visited, .liste_categories_anime a:visited {
    color: rgb(202, 201, 199);
  }

.gauche h2:hover {
    background-color: rgb(134, 59, 163);
    cursor: pointer;
}

/* partie 2 de Gauche : Ma liste */

.liste_gauche {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: brown;
    border-radius: 25px;
    margin-top: 30vh;
    height: 10vh;
    justify-content: space-around;
    padding: 0px 8px;
}
.liste_gauche img {
    width: 50px;

}


/* partie milieu */

.milieu, .anime_detail {
    position: relative;
    top: 70px;
    margin: auto;
    width: 60%;
}


.first_section {
    height: 37vw;
}


.slide_section {
    margin: 5% 0% 0% 5% ;
    padding-top: 20px;
    height: 60vh;
}
.slide_texte {
    position: relative;
    max-width: 25%;
    padding: 20px;
    background-color: rgb(35, 24, 46);
    color: rgb(228, 226, 223);
    z-index: 5;
    max-height: 300px;
    overflow-y: scroll;
}

.carroussel_btn {

    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
}

.carroussel_btn:hover {
    cursor: pointer;
    
}


.descri_slide img {
    max-width: 50vw;
    z-index: 2;
    position: absolute;
    top: 70px;
}


/* The dots/bullets/indicators */

.numero_carroussel {

    background-color: rgb(90, 60, 97);
    padding: 10px 10px 5px 10px;
    border-radius: 15px;
    z-index: 5;
    position: relative;
    width: fit-content;
    margin-left: 30%;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #8615c7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 5;
    position: relative;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }



  /* PARTIE NOUVEAUTE */



.nouveaute, .populaires_card, .finis {
    display: grid;
    padding-left: 2vw;
}


.card_part {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
}

.titre_card {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: black;
}

.titre_card a {
    align-self: center;
    background-color: #717171;
    padding: 7px;
    border-radius: 7px;
    text-decoration: underline;

}

.titre_card a:visited {
    color: black;

  }

.card {
    padding: 1vw;
    border: solid black;
    width: 8vw;
    text-align: center;
}

.card img {
    width: 7vw;
    height: 12vw;
}

.card_part h4 {
    max-width: 70%;
    justify-self: center;
    align-self: center;
}

.card :nth-child(2){
    height: 2vw;
}

  /*////////////// A OPTIMISER //////////////*/

.droite {
    top: 70px;
    right: 0;
    position: fixed;
    width: 15%;
    height: 92.3%;
    background-color: rgb(53, 50, 50);
    overflow-y: scroll;
    border-left: solid 2px white;
}

.droite h3 {
    margin-left: 30px;
}

.droite::-webkit-scrollbar {
    display: none;
  }

.droite_card { 
    display: flex;
    padding-bottom: 20px;    
    margin: 20px;
    border-bottom: black solid;
}

.droite_card img {
    width: 70px;
    padding-right: 20px;
}


/* PARTIE CONTENU POPULAIRES  */

.contenu_page_card {
    justify-self: center;
    margin-top: 70px;
}

.page_card {
    margin: 30px;
    max-width: 100% ;
}
.page_card h3, .categorie_card h3 {
    font-size: 2.5rem;
    width: fit-content;
    justify-self: center;
    padding-top: 40px;
}



/* PARTIE CATEGORIE */


.categorie_card_part {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px
}


.categorie_card_part h4 {
    margin: 10px;
    font-size: 2rem;
    justify-self: center;
}
.categorie_card_details img{
    width: 300px;
    height: 170px;

}

.categorie_card_part a {
    padding: 10px;
}

.categorie_card_part a:hover {
    background-color: rgb(90, 89, 87);
}
*.categorie_card_part a:visited{
    color: black;
}



/* PARTIE ADMIN */

.contenu_admin {
    justify-self: center;
    width: 60%;
    margin-top: 150px;
    left: 25% ;
}

.input_form {
    display: flex;
    margin: 20px;
}
.form_ajout_categorie {
    position: relative;
    width: fit-content;
    border: solid black 2px;
    padding: 20px;
}

.form_ajout_anime, .form_edit_anime {
    border: solid black 2px;
    padding: 20px;
}

.form_ajout_categorie2 label, .form_ajout_anime2 label {
    width: 170px;
}
.input_resume {
    height: 200px;
    width: 600px;
}

.form_ajout_categorie2 label,.form_ajout_anime2 input {
    padding: 5px;
}

.categorie_ajoutee  {
    padding-top: 20px;
}
.form_ajout_anime button, .form_edit_anime button, .form_ajout_categorie button {
    display: block;
    text-align: center;
    margin: auto;
    width: 120px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}

.form_ajout_anime button:hover, .form_edit_anime button:hover, .form_ajout_categorie button:hover {
    background-color: #8615c7;
}


/* /////////PARTIE INFO ANIME///////// */

.anime_detail img  {
    width: 300px;
    margin: 40px ;
}
.anime_detail {
    display: flex;

}

.anime_info {
    margin-top: 50px;
}

.anime_categories {
    padding:  30px 0px;
}

.liste_categories_anime a {
    padding: 6px;
    background-color: #494848;

    border-radius: 5px;
}

